$orange: #fC4C02;
$dawn: #D23CFF;
$teal: #6134FF;
$glacier: #95E6F5;
$navy: #022A79;

html {
  background: $orange;
  text-align: center; 
  border: 2.5px solid $navy;
}

#grid {
  background: $orange;
}

body {
  background: $orange;
  overflow-x: hidden;
}

.collage-body {
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

a {
  color: $orange; 
}

a:hover {
  color: $teal;
}

h1 .title {
  padding: 20px;
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
}

#logo-icon {
  background: #FFF;
}

#lets-go {
  height: 100vh;
  width: 100%;

}
#connect-account {
  position: absolute;
  top: 45vh;
  width: 100%;

  #connect-account-btn img:hover {
    opacity: 0.9;
    border: 1px solid transparent;
  }
}

.hidden {
  display: none;
}

#profile-picture-wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 200px;
  padding: 25px;
  float: left;
  width: auto;
  text-align: center;
  border-radius: 20px;

  img {
    border-radius: 50%;
    width: 150px;
    opacity: 0.95;
  }

  p {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 10px;
  }

  .twitter-share {
    margin: 10px;
  }
}


// loader 
*{margin:0;}

body{
  font: 200 16px/1 Helvetica, Arial, sans-serif;
}

.grid-item {
  .main-img {
    max-width: 97.5%;
    margin: 1.5%;
  }
}

.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

*,
*:before,
*:after {
  box-sizing: border-box;  
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 801px) {
  .gallery {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.photo {
  width: 100%;
  min-width: 250px;
  position: relative;
  background: white;
  box-shadow: inset 0px 0px 50px rgba(0,0,0,0.1),
              0px 5px 10px rgba(0,0,0,0.25);
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  transition: all 100ms ease-out;
  transform: translateZ(0);
  padding-bottom: 25px;
  cursor: pointer;

  .kudos {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    color: $orange;
    font-size: 13px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  &:hover {
    transform: rotateZ(0deg) scale(1.25) !important;
    z-index: 1000 !important;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1),
                0px 0px 29px rgba(0, 0, 0, 0.2);


    .kudos {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    height: auto;
    position: relative;    
  }

  .caption {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align:center;    
    line-height: 1;
    color: black;
    font-family: 'Roboto', sans-serif;
  }

  .activity-data {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;

    .item {
      position: relative;
      float: left;
      width: 100%;
      text-align: left;
      font-size: 12px;
      font-weight: bold;
      color: black;
      font-family: 'Roboto', sans-serif;
      margin: 5px;

      .strava-bullet {
        width: 20px;
        float: left;
      }

      .copy {
        float: left;
        margin: 8px;

        span {
          font-size: 15px;
          margin-right: 10px;
        }
      }
    }
  }
}
  

.download-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
  border-radius: 50%;

  &:hover {
    border: 1px solid rgba(0,0,0,0.1);
    opacity: 0.85;
  }
}

@media screen and (max-width: 991px) {
  .collage-body {
    padding-left: 20px;
    padding-right: 20px;

    .photo:hover {
      transform: rotateZ(0deg) scale(1) !important;
    }

    .grid .grid-item {
      transform: rotateZ(0deg) !important;
      transform: scale(1) !important;
      position: relative !important;
      float: left !important;
      width: 100% !important;
      left: 0 !important;
      top: auto !important;
    }
  }
}
